---
---
@import "{{ site.theme }}";

.banner{
  background-image:url("http://cubtab.com/daut/as/f/i/interior-design-room-house-home-apartment-condo-27-wallpaper-background_condo-interior-design_interior-design_office-interior-design-designing-living-room-online-degree-home-advanced-designs-internshi.jpg");
  color: white;
  padding: 100px 10px 100px 10px;
	margin: 0px;
  font-family: 'Trebuchet MS',Helvetica, sans-serif;
}
